@import "./modules/colors.scss", "./modules/mixins.scss";
@font-face {
    font-family: "Zector";
    src: url("../fonts/Zector.ttf");
}

$header-padding: 20px;
$header-size: 75px;

header.main-header {
    @include flex-align(stretch, space-between);

    background-color: $body-color;
    height: $header-size;
    min-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.253) 0px 3px 5px;
    padding-right: $header-padding;
    padding-left: $header-padding;

    position: fixed;
    top: 0;

    display: flex;
    flex-flow: row wrap;

    z-index: 1;
}

.logo-container {
    @include flex-align(center, center);
    flex-flow: row wrap;
    gap: 10px;

    height: 100%;

    h1 {
        font-size: 3.2em;
        color: $font-color;
    }
}


nav {
    height: 100%;
    font-size: 3em;
}

#menu-icon {
    @include changeMenu {
        display: block;
    }
    display: none;
}

.menu-list {
    @include changeMenu {
        display: none;
        background-color: $body-color;
        box-shadow: rgba(0, 0, 0, 0.493) 3px 3px 3px;
        height: fit-content;
        width: fit-content;
        position: absolute;
        right: 0;
        top: $header-size;
    }
    height: 100%;

    display: flex;
    flex-flow: row wrap;
}

.menu-option {
    @include flex-align(center, center);

    height: 100%;
    padding: 10px;
    font-size: 1rem;

    display: flex;

    &:hover {
        background-color: $body-color - rgb(20, 20, 20);
        cursor: pointer;
    }
    &:active {
        background-color: $body-color - rgb(40, 40, 40);
    }
}


a {
    color: $font-color;
    text-decoration: none;
    font-weight: 1000;
    font-size: 2em;
    font-family: "Zector";
}

#logo {
    height: 80%;
}

#title-container {
    transition: opacity 0.8s;
}
