@import "./modules/colors.scss", "./modules/mixins.scss", "./modules/fonts.scss";

main.content-container {
    margin-top: $header-size;
    width: 100%;
}

/* SEÇÃO E PARALLAX */
section#intro {
    // @include phone {
    //     background-attachment: local;
    //     background-size: 200% auto;
    //     background-position-x: 60%;
    //     height: 50vh;
    // }
    display: block;

    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;

    height: 100vh;
    width: 100%;

    position: relative;
}

/* ONDA SVG */
.curveUpColor {
    // @include removeCurve {
    //     display: none;
    // };

    color: $body-color;
    fill: $body-color;
    stroke: $body-color;
    
    position: absolute;
    bottom: 0;
    left: 0;
}

/* TÍTULOS */
.text-container {
    @include flex-align(center, center);
    // @include phone {
    //     margin-left: 0px;
    //     position: absolute;
    //     top: 40px;
    // }
    flex-flow: column wrap;

    margin-left: 30px;
    width: 50%;
    height: 67%;

    animation: appear-title 0.6s linear 0s 1 normal;
    animation-fill-mode: forwards;
}

h1 {
    // @include phone {
    //     font-size: 7em;
    //     margin-left: 5px;
    // }
    font-family: "dealerplate";
    color: $body-color;
    font-size: 11em;
    font-weight: 100;
}

button {
    // @include removeButton {
    //     display: none
    // };

    font-family: "Zector";
    padding: 10px;
    font-size: 2.5em;
    border-radius: 30px;
    color: $font-color;

    letter-spacing: -4px;
    word-spacing: -10px;

    transition: transform 0.4s, color 0.4s;
    
    &:hover {
        background-color: $body-color - rgb(20, 20, 20);
        transform: scale(1.2);
    }
    &:active {
        background-color: $body-color - rgb(39, 39, 39);
    }
}



@keyframes appear-title {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* CONTENT */
#content {
    @include flex-align(stretch, space-evenly);
    flex-flow: column wrap;
    gap: 150px;

    margin-top: 100px;

    background-image: url("../images/honey.png");
    background-repeat: no-repeat;
    background-position: 0px 70px
}

#generic-text {
    @include flex-align(center, center);
    flex-flow: row wrap;
    width: 100%;

    h2 {
        font-family: "dealerplate";
        font-size: 2.8rem;
    }

    img {
        // @include phone {
        //     width: 90%;
        // }
    }
}

#services {
    width: 100%;
}

.content-text-container {
    text-align: center;
    width: 50%;

    p {
        display: block;
        font-family: "dealerplate";
        font-size: 1.7em;
        color: $font-color;
    }
}

.services-list {
    @include flex-align(center, center);
    // @include phone {
    //     flex-flow: column wrap;
    //     gap: 0;

    //     li {
    //         width: 100%;
    //     }
    // }
    flex-flow: row wrap;
    gap: 50px;
    margin-bottom: 100px;

    li {
        height: 100%;
        width: 20%;
    }
}
