$header-size: 75px !default;

@mixin flex-align($itens: stretch, $content: flex-start, $acontent: normal) {
    display: flex;

    align-items: $itens;
    justify-content: $content;
    align-content: $acontent;
}

@mixin tablet {
    @media only screen and (max-width: 1289px) {
        @content;
    }
}

@mixin phone {
    @media only screen and (max-width: 768px) {
        @content;
    }
}
