$header-size: 75px !default;

@mixin flex-align($itens: stretch, $content: flex-start, $acontent: normal) {
    display: flex;

    align-items: $itens;
    justify-content: $content;
    align-content: $acontent;
}

@mixin rounded {
    border-radius: 2px;
}
